.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap:30px;   
    margin-bottom: 20px;
}

.profileOuter1{
    border: 3px solid;
    /* padding: 20px; */
    padding-top:35px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 1rem;
}

.profileOuter2{
    border: 3px solid;
    padding: 50px;
    border-radius: 1rem;
}